body{
	font-family: 'Roboto Mono', monospace;
	background-color: #31393c;
	color:white;
}

#main_container{
	margin: auto;
	width:1000px;
	min-height: 600px;
	background-color: #31393c;
}

#quiz_header{
	min-height:80px;
	text-align:center;
	font-size:52px;
}

#ui_div{
	padding-top:40px;
	min-height:448px;
	color:black;
}

#question{
	margin:auto;
	padding-top:30px;
	min-height:90px;
	width:800px;
	border-radius:15px;
	background-color:#009ddc;
	text-align:center;
}

.q{
	height:60px;
	color:#31393c;
	font-size:40px;
}

#ans_div{
	margin: 30px auto auto auto;
	min-height:288px;
	width:800px;
}

.answer{
	margin:0px 300px 0px 300px;
	min-height:100px;
	width:200px;
	border-radius:15px;
	background-color:#609cba;
}

.in_text{
	margin:25px 0px 25px 15px;
	width:90px;
	min-height:50px;
	float:left;
	text-align:center;
}

.in_submit{
	margin:25px 0px 25px 10px;
	width:50px;
	height:50px;
	border-radius:25px;
	float:left;
	font-weight:700;
}

.in_submit:hover{
	background-color:#00cc66;
}

#stats{
	margin:15px 200px 0px 200px;
	padding-top:38px;
	min-height:120px;
	width:400px;
	border-radius:15px;
}

#stats_info{
	margin:0px 25px 0px 25px;
	min-height:120px;
	width:350px;
	font-size:14px;
}

#footer{
	min-height:30px;
	border-radius:15px;
	text-align:center;
}

a{
	color:black;
	text-decoration:none;
}

a:hover{
	font-weight:700;
}
